
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

.navbar {
    height: 125px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background: linear-gradient(to right, #e6e6e6, #cccccc);
  }
  
  .navbar-left {
    margin-right: 20px;
  }
  
  .navbar-right {
    margin-left: 20px;
  }
  
  .navbar-title {
    font-size: 24px;
    font-family: 'Fredoka One', cursive;
    margin: 0;
  }
  
  .bold {
    font-weight: bold;
    color: red;
  }


  .nav-button {
    background-color: #ff4d4d;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    text-decoration: none;
  }
  
  .nav-button:hover {
    background-color: #ff6666;
  }
  
  .nav-button:not(:last-child) {
    margin-right: 10px;
  }
  
  .nav-button a {
    color: #ffffff;
    text-decoration: none;
  }
  
  .nav-button a:hover {
    text-decoration: none;
  }
  
  .navbar img {
    width: 125px;
    height: 125px;
  }
  
  
  