body {
  margin: 0;
  padding: 0;
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1b2430;
  padding: 20px 80px;
  box-shadow: 0 5px rgba(0, 0, 0, 0.06);
}




.logo {
  width: 130px;
  height: 130px;
}

.nav-bar a {
  text-decoration: none;
  display: block;
  font-size: 1.3rem;
  font-weight: 600;
  color: yellow;
  transition: 0.3s ease-in-out;

  
}

.nav-bar a:hover {
  color: red;
}

.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  
}
